{
  "name": "Porto Seguro Kaggle",
  "url": "https://www.kaggle.com/c/porto-seguro-safe-driver-prediction/",
  "cli": true,
  "epochs": 2,
  "batch_size": 100,
  "dropout": 0.1,
  "folds": 5,
  "data-files": {
    "train": {
      "bucket": "thoolihan-data",
      "file": "Kaggle/PortoSeguro/train.csv"
    },
    "test": {
      "bucket": "thoolihan-data",
      "file": "Kaggle/PortoSeguro/test.csv"
    },
    "sample": {
      "bucket": "thoolihan-data",
      "file": "Kaggle/PortoSeguro/sample_submission.csv"
    },
    "chi2": {
      "bucket": "thoolihan-data",
      "file": "Kaggle/PortoSeguro/chi2_features.csv"
    }
  }
}
